.regions div.heading {
    height: 8rem;
    background-color: #4c5e69;
    color: white;
    padding: 0.1em;
}

.regions2 div {
    border-bottom: 1px solid grey;
    height: 4rem;
    overflow: hidden;
}

.ed {
}

.ed div {
    border: 1px solid grey;
    margin: 0.1em;
    height: 4rem;
    overflow: hidden;
    display: block;
    padding: 0.1em;
}
